$border-radius: 6px;
$padding-side: 10px;

%inputs_base{
	
  	border-radius: $border-radius;

  	display: inline-block;
  	vertical-align: middle;
  	padding: 6px $padding-side;

  	appearance: none;
  	-webkit-appearance: none;

  	transition: 0.2s all ease;

  	&, &::placeholder {
  		@extend %font_base;
		font-size: $font-size-base;
		font-weight: 300;
  	}
}

%disabled
	{
		// cursor: default;
		cursor: not-allowed;

		&, &:hover
			{
				opacity: 0.5;
			}
	}

%btn{
	@extend %link_noline;

  	border: 0;
  	cursor: pointer;

  	font-size: $font-size-base;
  	text-align: center;

  	font-weight: 500;

  	&[disabled]{ @extend %disabled; }

  	&.btn-big{
  		font-size: $font-size-base*1.2;
  		padding: $padding-side $padding-side*2;
  	}
}

%inputtext
{
	border-width: 1px;
	border-style: solid;
}


input:not([type='submit']):not([type='button']), select, textarea
	{
		@extend %inputs_base;
		@extend %inputtext;	
	}


input[type="submit"], input[type="button"], button, *[class *= 'btn-']
	{
		@extend %inputs_base;
		@extend %btn;
	}

input[type="checkbox"], input[type="radio"]
	{
		margin-right: 10px;
		position: relative;

		&:before{
			position: absolute;
			opacity: 0;
			transition: 0.2s all ease;
		}

		&:checked:before{
			opacity: 1;
		}
	}

input[type="checkbox"]
	{
		padding: 8px !important;
		border-radius: $border-radius/2 !important;

		@include icon('\EA014');
		
		&:before{
			top: 2px;
			left: 2px;
			font-size: 13px;
		}
	}

input[type="radio"]
	{
		width: 18px;
		height: 18px;
		border-radius: 9px !important;
		padding: 0 !important;

		&:before{
			content:"";
			width: 6px;
			height: 6px;
			border-radius: 3px;
			top: calc(50% - 3px);
			left: calc(50% - 3px);
			border-width: 1px;
			border-style: solid;
		}
	}


select
	{
		position: relative;
		overflow: hidden;
		white-space: nowrap;
		margin: 0;
		outline: none;
		background-repeat: no-repeat;
		background-position: 100% 50%;
		&::-ms-expand { display: none; } /*ie fix*/

		background-image: image-url('select.png');
	    padding-right: image-width('select.png') + $padding-side;
	}

label, .input-msg{
	font-size: $font-size-base * 0.8;
	font-weight: 700;
}


form{
	section{
		margin: 50px 0 !important;
	}
}

.form-section-title {
		font-size: $font-size-title - 4 * 3;
		line-height: 1;
		@extend %text_uppercase;
		margin-bottom: $vertical-rythm/2;
		padding: 12px;
	}






.input-size--sm
	{
		max-width: 70px;
		text-align: center;
	}

.input-size--md
	{
		max-width: 350px;
	}

.input-size--lg
	{
		max-width: 600px;
	}


.form-inputline
	{
		display: flex;
		justify-content: center;
		align-items: stretch;

		white-space: nowrap;

		input, button
			{
				flex-grow: 1;
				border-radius: $border-radius 0 0 $border-radius !important;
				border-right-width: 0px !important;

				&:last-child{
					border-radius: 0 $border-radius $border-radius 0 !important;
					border-right-width: 1px !important;
					border-left-width: 0px !important;
				}
			}
	}

.form-item
	{
		margin-bottom: $vertical-rythm * 0.6;
		&:last-child { margin-bottom: 0; }
	}

section .form-item {
	margin-bottom: $vertical-rythm;
	&:last-child { margin-bottom: 0; }
}


.form-line-label
	{
		input:not([type='submit']):not([type='button']), select, textarea
			{
				border-width: 0 0 1px !important;
				border-radius: 0 !important;
			}

		input:not([type='submit']):not([type='button']), textarea
			{
				padding: 0 !important;
			}

		select
			{
				padding-top: 0;
				padding-bottom: 0;
				padding-left: 0;
			}

		label { display: block; }
	}

.form-line-btns
	{
		input[type="submit"], input[type="button"], button, *[class *= 'btn-']
			{
				margin-right: 15px;
				margin-bottom: 10px;

				&:last-child { margin-right: 0; }
			}
	}



.input-measured
	{
		position: relative;
		display: inline-block;

		.input-measure
			{
				position: absolute;
				right: 10px;
				top: calc( 50% - #{$font-size-base}/2);
				line-height: 1;
			}
	}

.input-msg
	{
		margin-left: 15px;
	}


